<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
    .active{
        background:red;
    }
</style>
</head>
<body>
 <div id="root">
     

     <ul>
        
        <li v-for="(value, index) in objectExample">
               {{index}} {{value}}
               <button @click='deleteObject(index)'>delete</button>
               
       </li>

       <input type="text" v-model='newObject'>
       <input type="text" v-model='newKey'>

       <button @click='addNewObject'>add new object</button>

       <p>two dimentional object</p>
       <li v-for="(skill, i) in skills">
        {{i+1}} {{skill.name}}
       </li>

       <input type="text" v-model='name'>
       <input type="text" v-model='experience'>

       <button @click='addNameAndExperience'>add new</button>

    </ul>
 </div>

<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el:"#root",
        data:{
            
            newObject:'',
            newKey:'',
            name:'',
            experience:'',
            objectExample:{language:'php',level:'good'},
            skills:[
                {name:'Php',experience:5},
                {name:'HMTL',experience:7},
                {name:'Java',experience:8},
                {name:'Python',experience:12}
            ]
        },
        methods:{
           
            addNewObject:function(){
                 newOb = this.newKey;
                 this.objectExample[newOb] = this.newObject;
                 
                 this.newObject = ''
                 this.newKey = ''
            },
            deleteObject:function(index){
                

                this.$delete(this.objectExample, index)
               
                console.log(index);
               
            },

            addNameAndExperience:function(){

                this.$set(this.skills, 'name', this.name);
                this.$set(this.skills, 'experience', this.experience);


                console.log(this.name);

                console.log(this.experience);
     
                console.log(this.skills);




                //  newOb = this.newKey;
                //  this.objectExample[newOb] = this.newObject;
                 
                 this.name = ''
                 this.experience = ''
            },
        }
    });
</script>
</body>
</html> 